// border-radius 加上斷點並擴充
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
 
    .rounded#{$infix}         { @include border-radius($border-radius); }
    .rounded#{$infix}-top     { @include border-top-radius($border-radius); @include border-bottom-radius(0); }
    .rounded#{$infix}-right   { @include border-right-radius($border-radius); @include border-left-radius(0); }
    .rounded#{$infix}-bottom  { @include border-bottom-radius($border-radius); @include border-top-radius(0); }
    .rounded#{$infix}-left    { @include border-left-radius($border-radius); @include border-right-radius(0); }
    .rounded#{$infix}-circle  { border-radius: 50%; }
    .rounded#{$infix}-0       { border-radius: 0;	}
    .rounded#{$infix}-right-0 { @include border-right-radius(0); }
    .rounded#{$infix}-left-0  { @include border-left-radius(0); }
  }
}

.border-width-md{
  border-width: 2px !important;
}

.border-light-gray{
  border-color: $gray-400 !important;
}