// position 加上斷點
@each $position in $positions {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .position#{$infix}-#{$position} { position: $position !important; }
      .position#{$infix}-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.position-sticky-top{
  @media (min-width: 1140px) {
    top: 144px;
  }
}