.swiper-button-next{
  padding: 25px;
  border-radius: 50%;
  background-color: theme-color("primary");
  right: -20px;

  &:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $white;
  }

  &:hover{
    background-color: theme-color("thirdly");
  }
}

.swiper-container{
  position: static;
  padding: .1875rem .375rem;
}