.timeline{
	position: relative;
  display: flex;

  &::after{
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px; 
    background-color: theme-color("secondary");
  }

  &-pointer{
    position: relative;
    display: flex;
    justify-content: center;

    &::before{
      content: '';
      position: absolute;
      top: -3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: theme-color("secondary");
    }

    .active{
      font-weight: bold;
    }
  }
}